.card.p-2.shadow-sm.h-100 {
  border: 2px solid rgb(118, 44, 178);
}

.line2{
    color: red;
}

/* Caja Amazon */
.cp-box {
  background: #232f3e;
  padding: 6px 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  color: white;
  cursor: pointer;
  transition: 0.2s;
  white-space: nowrap;
}

.cp-box:hover {
  background: #31455d;
}

/* codigo postal 1 */
.cp-line1 {
  font-size: 10px;
  color: #dddddd;
  display: block;
  line-height: 12px;
}

.cp-line2 {
  font-size: 14px;
  font-weight: bold;
  display: block;
  line-height: 14px;
  color: white;
}

/* Codigo postal 2 */
.cp-input input {
  width: 60px;
  padding: 2px 4px;
  border-radius: 4px;
  border: none;
  margin-left: 5px;
}

.cp-input button {
  padding: 2px 6px;
  border: none;
  background: #ffa41c;
  color: black;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 4px;
  font-weight: bold;
  font-size: 12px;
}

/* Resultados CP */
.cp-result {
  font-size: 14px;
}
